In [14]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
file_path_fcu="data/fcu.csv"
data_fcu=pd.read_csv(file_path_fcu)

In [15]:
print(data_fcu)

     fcu_id  zone_id                   timestamp  placement  fcu_type_id  \
0       190      130  2018-03-20 17:29:40.105590          1          NaN
1        26        1  2018-03-20 17:29:40.105590          1          2.0
2        27        1  2018-03-20 17:29:40.105590          2          2.0
3        28        1  2018-03-20 17:29:40.105590          3          2.0
4        29        1  2018-03-20 17:29:40.105590          4          2.0
..      ...      ...                         ...        ...          ...
365     366      248  2018-06-05 08:07:49.224206          1          1.0
366     367      248  2018-06-05 08:07:49.224206          2          1.0
367     368      248  2018-06-05 08:07:49.224206          3          1.0
368     371      251  2018-07-24 13:18:20.700639          1          1.0
369     372      252  2018-07-24 13:18:20.700639          1          1.0

     pipework_id
0              3
1              3
2              3
3              3
4              3
..           ...
365            3
366            3
367            3
368            3
369            3

[370 rows x 6 columns]

In [18]:
unique_pipework_ids = data_fcu['pipework_id'].unique()
print(unique_pipework_ids)

[3 2]

In [20]:
unique_fcu_type_ids = data_fcu['fcu_type_id'].unique()
print(unique_fcu_type_ids)

[nan  2.  1.]

In [24]:
fcu193= data_fcu.loc[data_fcu['zone_id']==212]
print(fcu193)

     fcu_id  zone_id                   timestamp  placement  fcu_type_id  \
308     305      212  2018-03-20 17:29:40.105590          1          2.0
309     306      212  2018-03-20 17:29:40.105590          2          2.0

     pipework_id
308            3
309            3

## 11. kat sjever

In [28]:
zone_ids = [193, 194, 208, 209, 210, 211, 212]
filtered_fcu_north = data_fcu.loc[data_fcu['zone_id'].isin(zone_ids)]
print(filtered_fcu_north)

     fcu_id  zone_id                   timestamp  placement  fcu_type_id  \
283     307      193  2018-03-20 17:29:40.105590          1          2.0
284     308      193  2018-03-20 17:29:40.105590          2          2.0
285     309      194  2018-03-20 17:29:40.105590          1          2.0
286     310      194  2018-03-20 17:29:40.105590          2          2.0
302     299      208  2018-03-20 17:29:40.105590          1          2.0
303     300      208  2018-03-20 17:29:40.105590          2          2.0
304     301      209  2018-03-20 17:29:40.105590          1          2.0
305     302      209  2018-03-20 17:29:40.105590          2          2.0
306     303      210  2018-03-20 17:29:40.105590          1          2.0
307     304      211  2018-03-20 17:29:40.105590          1          2.0
308     305      212  2018-03-20 17:29:40.105590          1          2.0
309     306      212  2018-03-20 17:29:40.105590          2          2.0

     pipework_id
283            3
284            3
285            3
286            3
302            3
303            3
304            3
305            3
306            3
307            3
308            3
309            3

## 11. kat jug

In [37]:
zone_ids = [195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207]
filtered_fcu_south = data_fcu.loc[data_fcu['zone_id'].isin(zone_ids)]
print(filtered_fcu_south)

     fcu_id  zone_id                   timestamp  placement  fcu_type_id  \
287     284      195  2018-03-20 17:29:40.105590          1          1.0
288     285      195  2018-03-20 17:29:40.105590          2          1.0
289     286      196  2018-03-20 17:29:40.105590          1          1.0
290     287      197  2018-03-20 17:29:40.105590          1          1.0
291     288      198  2018-03-20 17:29:40.105590          1          1.0
292     289      199  2018-03-20 17:29:40.105590          1          1.0
293     290      200  2018-03-20 17:29:40.105590          1          2.0
294     291      200  2018-03-20 17:29:40.105590          2          2.0
295     292      201  2018-03-20 17:29:40.105590          1          1.0
296     293      202  2018-03-20 17:29:40.105590          1          1.0
297     294      203  2018-03-20 17:29:40.105590          1          2.0
298     295      204  2018-03-20 17:29:40.105590          1          1.0
299     296      205  2018-03-20 17:29:40.105590          1          1.0
300     297      206  2018-03-20 17:29:40.105590          1          1.0
301     298      207  2018-03-20 17:29:40.105590          1          1.0

     pipework_id
287            2
288            2
289            2
290            2
291            2
292            2
293            2
294            2
295            2
296            2
297            2
298            2
299            2
300            2
301            2